
.icon-quiet:before { content: '\e800'; } /* '' */
.icon-aisle:before { content: '\e801'; } /* '' */
.icon-window:before { content: '\e802'; } /* '' */
.icon-ontime:before { content: '\e803'; } /* '' */
.icon-calendar2:before { content: '\e804'; } /* '' */
.icon-calendar1:before { content: '\e805'; } /* '' */
.icon-wifi:before { content: '\e806'; } /* '' */
.icon-landing:before { content: '\e807'; } /* '' */
.icon-takeoff:before { content: '\e808'; } /* '' */
.icon-seat:before { content: '\e809'; } /* '' */
.icon-logo:before { content: '\e80a'; } /* '' */
.icon-swimming:before { content: '\e80b'; } /* '' */
.icon-proximity:before { content: '\e80c'; } /* '' */
.icon-business-center:before { content: '\e80d'; } /* '' */
.icon-loyalty:before { content: '\e80e'; } /* '' */
.icon-gym:before { content: '\e80f'; } /* '' */
.icon-view:before { content: '\e810'; } /* '' */
.icon-hotel:before { content: '\e811'; } /* '' */
.icon-timeline:before { content: '\e812'; } /* '' */
.icon-desk:before { content: '\e813'; } /* '' */
.icon-united-globe:before { content: '\e814'; } /* '' */
.icon-arrival:before { content: '\e815'; } /* '' */
.icon-departure:before { content: '\e816'; } /* '' */
.icon-on-time:before { content: '\e817'; } /* '' */
.icon-refundable:before { content: '\e818'; } /* '' */
.icon-stops:before { content: '\e833'; } /* '' */