
.icon-ontime:before { content: '\e800'; } /* '' */
.icon-grip:before { content: '\e801'; } /* '' */
.icon-arriving:before { content: '\e802'; } /* '' */
.icon-calendar1:before { content: '\e803'; } /* '' */
.icon-calendar2:before { content: '\e804'; } /* '' */
.icon-departing:before { content: '\e805'; } /* '' */
.icon-seat:before { content: '\e806'; } /* '' */
.icon-wifi:before { content: '\e807'; } /* '' */
.icon-seating:before { content: '\e808'; } /* '' */
.icon-window-1:before { content: '\e809'; } /* '' */