
.icon-aisle:before { content: '\e800'; } /* '' */
.icon-calendar1:before { content: '\e801'; } /* '' */
.icon-calendar2:before { content: '\e802'; } /* '' */
.icon-grip:before { content: '\e803'; } /* '' */
.icon-gym:before { content: '\e804'; } /* '' */
.icon-landing:before { content: '\e805'; } /* '' */
.icon-logo:before { content: '\e806'; } /* '' */
.icon-loyalty:before { content: '\e807'; } /* '' */
.icon-ontime:before { content: '\e808'; } /* '' */
.icon-proximity:before { content: '\e809'; } /* '' */
.icon-seat:before { content: '\e80a'; } /* '' */
.icon-seating:before { content: '\e80b'; } /* '' */
.icon-swimming:before { content: '\e80c'; } /* '' */
.icon-takeoff:before { content: '\e80d'; } /* '' */
.icon-timeline:before { content: '\e80e'; } /* '' */
.icon-view:before { content: '\e80f'; } /* '' */
.icon-wifi:before { content: '\e810'; } /* '' */
.icon-window:before { content: '\e811'; } /* '' */